/* Global Styles */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.jumbotron {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  color: inherit;
  background-color: #eee;
}

.navbar-brand {
  margin: 0;
  color: white !important;
  background-color: black !important;
}

li {
  list-style: none;
}

main.content {
  flex: 1;
}

.timeUntil {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #d9534f;
  border-radius: 10px;
}

.timeUntil:empty {
  display: none;
}