.clndr-controls {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

.clndr-next-button,
.clndr-previous-button {
  cursor: pointer;
}

.calendar-container {
  display: flex;
  justify-content: center;
}

.clndr-grid {
  width: 764px;
  border-left: 1px solid white;
  background-color: #edeff1;
}

.days {
  display: flex;
  flex-wrap: wrap;
}

.day,
.header-day {
  width: 109px;
}

.header-day {
  height: 50px;
  padding: 8px 0px;
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: #1ABC9C;
}

.day {
  height: 120px;
  padding: 0px 5px;
}

.day:hover {
  cursor: pointer;
  background-color: white;
}

.days .event-name {
  font-size: 15px;
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #34495E;
  color: white;
  border-radius: 4px;
  margin-bottom: 4px;
}

.day-number {
  font-size: 15px;
}

.days-of-the-week {
  background-color: #3883a3;
  border-right: 1px solid white;
  border-bottom: 2px solid white;
  display: flex;
}

.day,
.event-listing {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.event-listing {
  border-top: 1px solid white;
  width: 300px;
}

.event-listing-title {
  border-bottom: 1px solid white;
}

li.event-item {
  font-size: 18px;
  line-height: inherit;
  border-left: 4px solid #1ABC9C;
  padding: 0 0 0 16px;
  margin: 0 0 30px;
}

.event-name {
  font-weight: bold;
  margin-bottom: 2px;
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large */
@media (min-width: 1200px) {

}
