.remove-member {
  color: white;
  text-decoration: none;
}

.user-list {
  padding: 0px;
}

.user-list-item {
  margin-right: 3px;
}

.own-badge {
  background-color: #4cae4c;
}

.task-edit-btn {
  cursor: pointer;
  float: right;
}

.label-assignee {
  background-color: #ebedef;
  color: #7b8996;
}

.create-task-confirm {
  text-align: right;
  margin-top: 1em;
}