{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/calendar.css' %}">
{% endblock %}

{% block content %}
<script src="{% static 'moment/moment.min.js' %}"></script>
<script src="{% static 'clndr/clndr.min.js' %}"></script>
<script src="{% static 'lodash/lodash.custom.min.js' %}"></script>

<script src="{% static 'js/calendar.js' %}"></script>

<div class="calendar-container">
  <script id="calendar-template" type="text/template">

    <div class="clndr-controls">
      <span class="clndr-previous-button">&lt;</span>
      <span class="current-month"><%= month %> <%= year %></span>
      <span class="clndr-next-button">&gt;</span>
    </div>

    <section class="calendar">

      <div class="clndr-grid">
        <div class="days-of-the-week">
        <% daysOfTheWeek.map(function(weekday) { %>
          <div class="header-day">
            <%= weekday %>
          </div>
        <% }) %>
        </div>
        <div class="days">
        <% days.map(function(day) { %>
          <div class="<%= day.classes %>" id="<%= day.id %>">
            <span class="day-number"><%= day.day %></span>
          </div>
        <% }) %>
        </div>
      </div>

      <section class="event-listing">
        <h2 class="event-listing-title">Events</h2>
        <% eventsThisMonth.map(function(event) { %>
          <div class="event-item">
            <div class="event-item-name"><%= event.name %></div>
            <div class="event-item-location"><%= event.location %></div>
          </div>
        <% }) %>
      </section>

    </section>

  </script>
</div>

<script>
  var events = JSON.parse(`{{ events|escapejs|default:'[]' }}`)
  var template = $('#calendar-template').html()

  initCalendar('.calendar-container', template, events)
</script>
{% endblock %}
