{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/calendar.css' %}">
{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="{% static 'clndr/clndr.min.js' %}"></script>
<script src="{% static 'lodash/lodash.custom.min.js' %}"></script>

<script src="{% static 'js/calendar.js' %}"></script>

<div class="calendar-container">
  <script id="calendar-template" type="text/template">

    <section class="calendar">
      <div class="clndr-controls">
        <span class="clndr-previous-button">&lt;</span>
        <span class="current-month"><%= month %> <%= year %></span>
        <span class="clndr-next-button">&gt;</span>
      </div>

      <div class="clndr-grid">
        <div class="days-of-the-week flex">
        <% daysOfTheWeek.map(function(weekday) { %>
          <div class="header-day">
            <%= weekday %>
          </div>
        <% }) %>
        </div>
        <div class="days flex flex-wrap">
        <% days.map(function(day) { %>
          <div class="<%= day.classes %>" id="<%= day.id %>">
            <span class="day-number"><%= day.day %></span>
          </div>
        <% }) %>
        </div>
      </div>
    </section>
    

    <section class="event-listing">
      <h2 class="event-listing-title">Events</h2>
      <% eventsThisMonth.map(function(event) { %>
        <div class="event-item">
          <div class="event-item-name"><%= event.title %></div>
          <div class="event-item-location"><%= event.location %></div>
        </div>
      <% }) %>
    </section>

  </script>
</div>

<script>
  var events = {{ events|safe|default:'[]' }}
  var template = $('#calendar-template').html()

  initCalendar('.calendar-container', template, events)
</script>
{% endblock %}
