{% extends "base.html" %}
{% load extra_tags %}
{% load next_event %}

{% block content %}
<!-- Next Event from all project -->
<div class="container">
  <h5>Next Event</h5>
  <div class="row">
    <div class="col-xs-2">
      <img class="img-responsive" src="/static/img/calendar.png" width="80px" alt="cal-icon">
    </div>
    <div class="col-xs-10">
      {% for event in next_event %}
      <strong>{{ event.name }}</strong>
      <p>{{ event.date|date:"D, d M Y" }}, {{ event.date|time:"H:i" }}</p>
      {% if event.location != "" %}
      <small><i class="fui-location"></i> {{ event.location }}</small>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<!-- List of ongoing pojects -->
<div class="container">
  <h5>Ongoing Projects</h5>
  {% for project in projects %}
  <div class="jumbotron">
    <h5>
      <a href="{% url 'project_details' project.name|urlencode_plus %}">
      {{ project.name }}</a>
    </h5>
    {% with next_event=project.event_set.all|dictsort:'date'|next_event %}
    <p><i class="fui-calendar"></i> <b>Next event:</b>
      {{ next_event.name }} - {{ next_event.date }}
    </p>
    <p><i class="fui-time"></i> <b>Total spent hours:</b>
    </p>
    {% endwith %}
    <div class="form-group">
      <form action="log_time" method="post" id="log-time-form"
      class="form-inline" onsubmit="return validateNewTimelog()">
      {% csrf_token %}
      <div class="form-group">
        <div class="input-group input-append date" id="datePicker">
          <input id="logDate" type="text" class="form-control"
          name="date" placeholder="dd/mm/yyyy">
          <span class="input-group-addon add-on">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <input id="logHours" type="number" class="form-control bfh-number"
        name="hours" placeholder="Hours">
      </div>
      <div class="form-group">
        <input id="logMinutes" type="number" class="form-control bfh-number"
        name="minutes" placeholder="Minutes">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" onclick="validateLogTime(event)">Log time</button>
      </div>
    </form>
    </div>
  </div>
  {% endfor %}

</div>

{% endblock %}
