{% extends "base.html" %}
{% load extra_tags %}

{% block content %}
<ul class="list-group">
{% for project in projects %}
    <li>
      <div class="container">
      <div class="jumbotron">
        <h1><a href="{% url 'project_details' user.username project.name|urlencode_plus %}">{{ project.name }}</a></h1>
        <p>Some important information...</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Log time</a></p>
      </div>
      </div>
    </li>
{% endfor %}
</ul>
</div>

{% endblock %}
