<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyProjects</title>
    <meta name="description" content="Website for managing multiple projects in one place.">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/libs/flatUI/css/flat-ui.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/base.css">

    <!-- add jQuery -->
    <script src="/static/libs/jquery/jquery-3.1.1.min.js"></script>

    <!-- add Bootstrap JavaScript -->
    <script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body class="before-login">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          {% if form.errors %}
          <div class="alert alert-danger" role="alert">
            Your username and password didn't match. Please try again.
          </div>
          {% endif %}
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="login-form">
              <div class="form-group">
                <img class="img-responsive center-block" alt="logo" src="/static/img/logo.png">
              </div>
              <div class="form-group">
                <input type="text" class="form-control login-field" id="inputUsername" name="username" placeholder="Enter your username">
                <label class="login-field-icon fui-user" for="inputUsername"></label>
              </div>

              <div class="form-group">
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
                <label class="login-field-icon fui-lock" for="inputPassword"></label>
              </div>

              <input type="submit" class="btn btn-primary btn-lg btn-block" value="Login">
              <input type="hidden" class="btn btn-primary btn-lg btn-block" name="next" value="{{ next }}">

              <a class="login-link" href="#">Lost your password?</a>
            </div>
          </form>
        </div>
      </div>
    </div>

  </body>
</html>
