{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/project_details.css' %}">
<link rel="stylesheet" href="{% static 'css/piechart.css' %}">
{% endblock %}

{% block content %}
<!-- add PieChart JavaScript -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{% static 'js/piechart.js' %}"></script>

<div class="container">

  <!-- Project details -->
  <h1>{{ project.name }}</h1>
  <p>{{ project.description }}</p>

  <!-- Group members -->
  <p><i class="glyphicon glyphicon-user"></i>
    Group member:
    {% for member in project.members.all %}
      <span class="badge" data-member="{{ member.user.username }}">
        {{ member.user.username }}
        <!--allow removing members only if they are not the project owner-->
        {% if user != member.user %}
        <a class="remove-member"
          href="javascript:void(0)"
          onclick="removeMember('{{ member.user.username }}')">x</a>
        {% endif %}
      </span>
    {% endfor %}
  </p>
  {% if user == project.owner.user %}
    <button id="add-member" type="button" class="btn btn-success"
      data-toggle="modal" data-target="#add-member-modal">
      Add member
    </button>
  {% endif %}

  {% include 'modals/add_member.html' %}

  <div class="row">
    <div class="col-md-6">

      <!-- Task list -->
      <h3>Tasks List</h3>
      <ul class="list-group">
        {% for task in project.task_set.all %}
        <li class="list-group-item">
          <input type="checkbox"
          {% if task.done %}
            checked
          {% endif %}> {{ task.name }}</input>
        </li>
        {% endfor %}
      </ul>
      <button type="button" class="btn btn-default" onclick="openEventCreator()">Add task</button>
    </div>
    <div class="col-md-6">

      <!-- Deadline -->
      <h3>Time till deadlines</h3>
      <ul class="list-group">
        {% for deadline in deadlines|dictsort:'date' %}
        <li class="list-group-item">
          <p><span class="timeUntil">{{ deadline.date|timeuntil }} left</span> <strong>{{ deadline.name }}</strong> ({{ deadline.date|date:"D, d M Y" }}, {{ deadline.date|time:"H:i" }}
            {% if deadline.location != "" %},
            <i class="glyphicon glyphicon-map-marker"></i> {{ deadline.location }}
            {% endif %})
          </p>
        </li>
        {% empty %}
        <li class="list-group-item">
          <p>There is no deadline coming up</p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Time Spent -->
  <h3>Time Spent</h3>
  <div class="row">

    <!--  Time spent by each project's members -->
    <div class="col-md-6">
      <div id="piechart"></div>
      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="inputDate">date</label>
          <input type="date" class="form-control" id="inputDate" placeholder="dd/mm/yy">
        </div>
        <div class="form-group">
          <label class="sr-only" for="inputTime">Time</label>
          <input type="time" class="form-control" id="inputTime" placeholder="00:00:00">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" onclick="openEventCreator()">Log time</button>
        </div>
      </form>
    </div>

    <!-- Logged time history from all the project memebers -->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="glyphicon glyphicon-time"></i>
            Log history
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            {% for loggedtime in project.loggedtime_set.all|dictsortreversed:'date' %}
            <li class="list-group-item">{{ loggedtime.date|date:"d/m/Y" }} - {{ loggedtime.student.user.username }} logged {{ loggedtime.hours }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Events -->
  <h3>Upcoming Events</h3>
  <ul class="list-group">
    {% for event in project.event_set.all|dictsort:'date' %}
    <li class="list-group-item">
      <strong>{{ event.name }}</strong>
      <p>{{ event.date|date:"D, d M Y" }}, {{ event.date|time:"H:i" }}</p>
      {% if event.location != "" %}
      <p><i class="glyphicon glyphicon-map-marker"></i> {{ event.location }}</p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  <button type="button" class="btn btn-default" onclick="openEventCreator()">Add event</button>
</div>

<script>
  var CSRF_TOKEN = '{{ csrf_token }}'
</script>
<script src="{% static 'libs/typeahead/typeahead.min.js' %}"></script>
<script src="{% static 'js/project_details.js' %}"></script>

<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{% static 'js/piechart.js' %}"></script>
<script>
  var loggedTimes = JSON.parse("{{ total_times_json|escapejs|default:'[]' }}")
  initPiechart(loggedTimes)
</script>

{% endblock %}
