{% extends 'modals/base_modal.html' %}

{% block id %}
id="edit-task-modal"
{% endblock %}

{% block title %}
Edit task
{% endblock %}

{% block body %}
<form action="edit_task" id="edit-task-form" class="form-group"
  method="post" onsubmit="return validateNewTask()">
  {% csrf_token %}
  <div class="form-group">
    <label for="task-name-input">Task name</label>
    <input type="text" id="task-name-input" name="task_name" class="form-control">
  </div>
  <div class="form-group">
    <label for="assignees-input">Assignees</label>
    <input type="text" id="assignees-input" name="assignees[]" class="form-control">
  </div>
  <div class="form-group">
    <label for="time-estimate-input">Estimated work hours</label>
    <input type="text" id="time-estimate-input" name="time_estimate"
      class="form-control" placeholder="00:00">
  </div>
</form>
{% endblock %}

{% block footer %}
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
<button type="submit" class="btn btn-primary" form="edit_task">Apply changes</button>
{% endblock %}
